//mat-spinner {
//  margin: 0 auto;
//  margin-bottom: 24px;
//}
//
//::ng-deep .mat-progress-spinner circle, .mat-spinner circle {
//  stroke: #147dff;
//}
//
//::ng-deep .mat-progress-spinner circle {   stroke-linecap: round; }

.dots {
  margin: 0 auto;
  filter: none;
  width: 11px;
  height: 11px;
  background-color: #147dff;

  &:before, &:after {
    filter: none;
    width: 11px;
    height: 11px;
    background-color: #147dff;
  }
}

.div-dots {
  display: flex;
  margin: 0 -10%;
  overflow: hidden;
}

#loading {
  overflow: hidden;
  display: table-cell;
  vertical-align: middle;
}

.progress-dialog {
  text-align: center;
  display: table;
  width: 100%;
  height: 100%;
}
