<div class="progress-dialog">
  <div mat-dialog-content id="loading">
    <div class="align-self-center">
      <!--    <mat-spinner diameter="50"></mat-spinner>-->
      <div class="div-dots">
        <div class="dots dot-floating"></div>
      </div>
      <p style="margin-top: 20px;">Indeling aan het maken...</p>
    </div>
  </div>
</div>

