<div class="app-container">

  <!-- Header -->
  <header>
    <app-navbar></app-navbar>
  </header>

  <!-- Body -->
  <main class="custom-container">
    <router-outlet></router-outlet>
  </main>

  <!-- Footer -->
  <footer>
  </footer>

</div>
