.middle-rectangle {
  background-color: #e4ecf3;
  margin: 80px;
  width: auto;
  position: fixed;
  height: 74%;

  .container {
    height: 100%;
    width: 100%;
    max-width: 100%;
  }

  .row {
    height: 100%;
  }

  .information-title {
    font-size: 32px;
    font-weight: 600;
    color: #147dff;
    line-height: 32px;
  }

  .information-text {
    margin-top: 32px;
    font-size: 26px;
    font-weight: 600;
    line-height: 31px;
  }

  .forklift {
    width: calc(100% + 70px);
    height: 100%;
  }
}

.lalo-information {
  vertical-align: middle;
  display: table-cell;
}

.lalo-text {
  padding: 80px;
}
