<div class="middle-rectangle">
  <div class="container">
    <div class="row">
      <div class="col-lg-6 lalo-text lalo-information align-self-center">
        <p class="information-title">Maak kennis met LaLo</p>
        <p class="information-text">
          Een tijdbesparende tool waarmee een transportplanner efficiënt een laadruimte kan indelen,
          zodat de lader deze naadloos over kan nemen.
        </p>
        <div style="margin-top: 80px;">
          <a mat-button routerLink="plan/selecteer-planning" class="btn-secondary">Bekijk planning</a>
          <a mat-button routerLink="plan/information" style="margin-left: 8px;" class="btn-primary">Maak planning</a>
        </div>
      </div>
      <div class="col-lg-6 lalo-information align-self-center">
        <img class="forklift" src="assets/images/forklifttruck.png" alt="" />
      </div>
    </div>
  </div>
</div>
