<a mat-button style="margin-top: 56px; margin-bottom: 16px;" *ngIf="!view && showButton" (click)="close()" class="btn-primary float-right">
  Afsluiten
</a>

<a mat-button style="margin-top: 56px; margin-bottom: 16px;" *ngIf="view && showButton" (click)="markAsCompleted()" class="btn-primary float-right">
  Markeer als afgerond
</a>
