.donut-div {
  margin-bottom: 11px;
  width:80px;
  height:80px;
  margin-left: auto;
  margin-right: auto;
}

@media (min-width: 769px) and (max-width: 1200px) {
  .donut-div {
    width:60px;
    height:60px;

    canvas {
      width:60px;
      height:60px;
    }
  }
}
