::ng-deep .overview .mat-form-field-infix {
  min-width: 100px;
  max-width: 100%;
  width: auto !important;
}

.overview textarea {
  min-width: 100px;
  max-width: 100%;
  resize: both !important;
}

.settings-button {
  display: flex;
  align-items: center;

  mat-icon {
    color: #147dff;
    font-size: 13pt;
    height: 17px;
    width: 16px;
  }
}

.title-input {
  font-size: 12px;
  background: #fff;
  padding: 0 16px;
  box-sizing: border-box;
}

#ordersTable.overview {
  td {
    border-top: 1px solid #09184f;
    border-bottom: 1px solid #09184f;

    &:first-child {
      border: 1px solid transparent;
    }

    &:last-child {
      border-right: 1px solid #09184f;
    }

    &:nth-child(2) {
      border-left: 1px solid #09184f;
    }
  }

  #productsTable {
    border-radius: 6px;

    td {
      border: 1px solid transparent;
    }
  }

  .product-table-td {
    border: 1px solid transparent !important;
  }
}
