<div class="container-fluid">
  <div class="row">
    <div class="col-sm-9">
      <div style="padding-top: 88px; padding-left: 272px;">
        <div>
          <h1 class="d-inline">03. Overzicht</h1>
          <div class="float-right settings-button">
            <mat-icon>tune</mat-icon>
            <a [routerLink]="" (click)="openSettingsDialog()" class="a-link" style="margin-left: 8px;">Wijzig instellingen</a>
          </div>
        </div>

        <p class="sub-titel">Welke naam wil je deze planning geven?</p>
        <div class="form-outline w-50">
          <input [(ngModel)]="title" placeholder="Typ hier een naam voor deze lading" matInput type="text" class="form-control title-input" />
        </div>

        <div style="margin-top: 32px;">
          <h2>Bestellingen</h2>

          <table class="table order-table overview" mdbTable mdbTableScroll scrollY="true" maxHeight="400" id="ordersTable">
            <thead>
              <tr>
                <th scope="col"></th>

                <th *ngFor="let header of headers" scope="col">
                  <span>{{header.displayName}}</span>
                </th>

                <th scope="col"></th>
              </tr>
            </thead>
            <tbody>
            <ng-container *ngFor="let order of ordersInOrderSequence; index as i">
              <tr>
                <td class="col-sm-custom bg-transparent">
                  <div class="order-sequence">{{i + 1}}</div>
                </td>
                <td class="col-lg-custom customer-td clickable-td"
                    [class.example-expanded-row]="checkExpanded(order)" (click)="pushPopElement(order)">{{order.customer}}</td>
                <td class="col-lg-custom clickable-td"
                    [class.example-expanded-row]="checkExpanded(order)" (click)="pushPopElement(order)">{{order.address}}</td>
                <td class="col-md-custom clickable-td"
                    [class.example-expanded-row]="checkExpanded(order)" (click)="pushPopElement(order)">{{order.postalCode}}</td>
                <td class="col-lg-custom clickable-td"
                    [class.example-expanded-row]="checkExpanded(order)" (click)="pushPopElement(order)">{{order.city}}</td>
                <td class="col-lg-custom product-td clickable-td"
                    [class.example-expanded-row]="checkExpanded(order)" (click)="pushPopElement(order)">{{order.products.length}}</td>
                <td></td>
              </tr>
              <tr [@detailExpand]="checkExpanded(order) ? 'expanded' : 'collapsed'">
                <td style="background-color: #f6f8fa;"></td>
                <td [attr.colspan]="6" class="p-0 product-table-td">
                  <table class="table product-table" mdbTable id="productsTable">
                    <thead>
                    <tr>
                      <th class="first-th">Product</th>
                      <th>Lengte (cm)</th>
                      <th>Breedte (cm)</th>
                      <th>Hoogte (cm)</th>
                      <th>Gewicht (kg)</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr *ngFor="let product of order.products">
                      <td class="col-lg-custom first-td">{{product.name}}</td>
                      <td class="col-md-custom">{{product.length}} <span class="times">x</span></td>
                      <td class="col-md-custom">{{product.width}} <span class="times">x</span></td>
                      <td class="col-md-custom">{{product.height}}</td>
                      <td>{{product.weight}}</td>
                    </tr>
                    </tbody>
                  </table>
                </td>
              </tr>
            </ng-container>
            </tbody>
          </table>
        </div>
        <div class="mt-3 float-right">
          <a mat-button class="btn-secondary" routerLink="../../plan/kies-bestellingen" style="margin-right: 8px;">Vorige</a>
          <a mat-button (click)="plan()" class="btn-primary">Maak planning</a>
        </div>
      </div>
    </div>
    <div class="col-sm-3 p-0 app-loading-information">
      <app-loading-information></app-loading-information>
    </div>
  </div>
</div>
