<div class="width-container container">
  <h1 class="d-inline">01. Kies een laadruimte</h1>

  <div class="content-container">
    <div class="container">
      <div class="row">
        <div class="col-sm-6">
          <p class="question">Voor welke laadruimte wil je een planning maken?</p>
          <mat-select panelClass="cargoPanel" class="form-control" [(ngModel)]="cargoSpace">
            <mat-option *ngFor="let cargoSpace of cargoSpaceList" [value]="cargoSpace">
              {{cargoSpace.name}}
            </mat-option>
          </mat-select>
          <div>
            <a [routerLink]="" (click)="openAddCargospaceDialog()" class="a-link">+ Zelf een laadruimte toevoegen</a>
          </div>

          <div style="margin-left: 32px; margin-top: 65px;">
            <div>
              <mat-icon class="material-icons-outlined info-icon">info</mat-icon>
              <span class="info">Gegevens gekozen laadruimte</span>
            </div>
            <table class="table table-borderless cargospace-table">
              <tr>
                <th>Naam</th>
                <td>{{cargoSpace.name}}</td>
              </tr>
              <tr>
                <th>Lengte</th>
                <td>{{cargoSpace.length}} cm</td>
              </tr>
              <tr>
                <th>Breedte</th>
                <td>{{cargoSpace.width}} cm</td>
              </tr>
              <tr>
                <th>Hoogte</th>
                <td>{{cargoSpace.height}} cm</td>
              </tr>
              <tr>
                <th>Max. laadgewicht</th>
                <td>{{cargoSpace.maxWeight}} kg</td>
              </tr>
            </table>
          </div>
        </div>
        <div class="col-sm-6">
          <div>
            <p class="question">Welke laadrichting wil je gebruiken?</p>
            <mat-select panelClass="cargoPanel" class="form-control" [(ngModel)]="loadDirection">
              <mat-option *ngFor="let loadDirection of loadDirections" [value]="loadDirection">
                {{loadDirection.description}}
              </mat-option>
            </mat-select>
          </div>
        </div>
      </div>
    </div>
  </div>

  <a mat-button (click)="confirmCargospace()" style="margin-top: 48px;" class="btn-primary float-right">Volgende</a>

</div>
