.mat-select-trigger { min-width: 400px; }

.mat-form-field { width: 450px; }

.cargoPanel .mat-option-text, .mat-select-value-text {
  font-size: 12px;
}

.a-link {
  float: right;
  margin-top: 8px;
}

.info-icon {
  font-size: 16px;
  width: 16px !important;
  height: 16px !important;
}

.cargospace-table {
  margin-bottom: 0;
  margin-top: 19px;

  th, td {
    padding: 6px 0 6px 24px !important;
    font-weight: normal;
  }
}

.content-container .container {
  padding: 0;
}
