<div class="width-container container">
  <h1 class="d-inline">Stappen</h1>

  <div class="content-container">
    <ul class="stepper stepper-vertical">
      <li class="active disabled">
        <a href="#">
          <span class="circle">1</span>
          <span class="label">Kies het voertuig voor de planning en geef hierbij de manier van laden aan</span>
        </a>
      </li>
      <li class="active disabled">
        <a href="#">
          <span class="circle">2</span>
          <span class="label">Selecteer de bestellingen voor de rit</span>
        </a>
        <div class="step-content white lighten-3">
          <p>Selecteer de bestellingen en zet deze op volgorde van bezorgen.
          Klik op een bestelling om de producten te bekijken.</p>
        </div>
      </li>
      <li class="active disabled">
        <a href="#">
          <span class="circle">3</span>
          <span class="label">Controleer de ingevoerde gegevens</span>
        </a>
      </li>
      <li class="active disabled">
        <a href="#">
          <span class="circle">4</span>
          <span class="label">Bekijk de gemaakte planning/indeling</span>
        </a>
      </li>
      <li class="active disabled">
        <a href="#">
          <span class="circle">5</span>
          <span class="label">Laat de lader de planning/indeling gebruiken tijdens het laden</span>
        </a>
      </li>
    </ul>
    <a mat-button routerLink="../kies-laadruimte" class="btn-primary float-right">Start</a>
  </div>
</div>
