::ng-deep .cargo-note .mat-form-field-infix {
  min-width: 100px;
  max-width: 100%;
  width: auto !important;
}

.cargo-note textarea {
  min-width: 100px;
  max-width: 100%;
  resize: both !important;
  background: white;
  padding: 8px 16px;
  box-sizing: inherit;
}

.cargo-note input {
  padding: 0 16px;
  box-sizing: border-box;
}

.note-input-button div {
  display: inline-block;
  height: 100%;
  vertical-align: middle;
}

.input-note {
  width: 88%;

  textarea[disabled] {
    background-color: #e9ecef;
    color: #09184f;
  }
}

.button-note {
  width: 12%;

  a.btn-secondary {
    padding: 8px 8px;
    font-size: 11px;
    color: #147dff;

    &:hover {
      color: #fff !important;
    }
  }

  a.btn-secondary-disabled {
    padding: 8px 8px;
    font-size: 11px;
    color: #147dff;
    opacity: 0.21;
  }
}
