<div class="cargo-note" *ngIf="!view">
  <p class="sub-titel" style="margin-top: 16px !important;">Notitie</p>
  <div class="note-input-button">
    <div class="form-outline input-note">
      <textarea [disabled]="savedNote" matInput type="text" [(ngModel)]="note" class="form-control note-input" (ngModelChange)="saveValue()"
                rows="1" placeholder="Vul optioneel een notitie voor de lader toe"></textarea>
    </div>
    <div class="button-note" [style.text-align]="aligned">
      <a *ngIf="!savedNote" class="btn-secondary" (click)="saveNote()">Notitie opslaan</a>
      <a *ngIf="savedNote" disabled class="btn-secondary-disabled">Opgeslagen</a>
    </div>
  </div>

</div>

<div class="cargo-note" *ngIf="view">
  <p class="sub-titel" style="margin-top: 16px !important;">Notitie</p>
  <div class="form-outline">
    <input disabled matInput type="text" class="form-control title-input" [value]="note" />
  </div>
</div>

