<div>
  <span *ngIf="fullyDone">Volledig verwerkt ({{processed}} / {{amountOfOriginal}} producten)</span>
  <span *ngIf="!fullyDone">Gedeeltelijk verwerkt ({{processed}} / {{amountOfOriginal}} producten)</span>
  <p class="sub-titel">Titel</p>
  <div class="form-outline">
    <input disabled matInput type="text" class="form-control title-input" [value]="title" />
  </div>

  <app-note-field></app-note-field>

  <div>
    <table class="table order-table overview loadlist-table" mdbTable mdbTableScroll scrollY="true" maxHeight="400" id="ordersTable">
      <thead>
      <tr>
        <th scope="col"></th>

        <th *ngFor="let header of headers" scope="col">
          <span>{{header.displayName}}</span>
        </th>

        <th scope="col"></th>
      </tr>
      </thead>
      <tbody>
      <ng-container *ngFor="let wholeLoadItem of loadList; index as i">
        <tr>
          <td class="col-sm-custom bg-transparent">
            <div class="order-sequence">{{i + 1}}</div>
          </td>
          <td class="col-lg-custom customer-td clickable-td" [class.example-expanded-row]="checkExpanded(wholeLoadItem.order)"
              (click)="pushPopElement(wholeLoadItem.order)">{{wholeLoadItem.order.customer}}</td>
          <td class="col-lg-custom clickable-td" [class.example-expanded-row]="checkExpanded(wholeLoadItem.order)"
              (click)="pushPopElement(wholeLoadItem.order)">{{wholeLoadItem.order.address}}</td>
          <td class="col-md-custom clickable-td" [class.example-expanded-row]="checkExpanded(wholeLoadItem.order)"
              (click)="pushPopElement(wholeLoadItem.order)">{{wholeLoadItem.order.postalCode}}</td>
          <td class="col-lg-custom clickable-td" [class.example-expanded-row]="checkExpanded(wholeLoadItem.order)"
              (click)="pushPopElement(wholeLoadItem.order)">{{wholeLoadItem.order.city}}</td>
          <td class="col-lg-custom product-td clickable-td" [class.example-expanded-row]="checkExpanded(wholeLoadItem.order)"
              (click)="pushPopElement(wholeLoadItem.order)">{{wholeLoadItem.loadItems.length}}</td>
          <td></td>
        </tr>
        <tr [@detailExpand]="checkExpanded(wholeLoadItem.order) ? 'expanded' : 'collapsed'">
          <td style="background-color: #f6f8fa;"></td>
          <td [attr.colspan]="6" class="p-0 product-table-td">
            <table class="table product-table" mdbTable id="productsTable">
              <thead>
              <tr>
                <th class="first-th">Laadnummer</th>
                <th>Product</th>
                <th>Lengte (cm)</th>
                <th>Breedte (cm)</th>
                <th>Hoogte (cm)</th>
                <th>Gewicht (kg)</th>
              </tr>
              </thead>
              <tbody>
              <tr *ngFor="let loadItem of wholeLoadItem.loadItems">
                <td class="col-sm-custom first-td">{{loadItem.id}}</td>
                <td class="col-lg-custom">{{loadItem.product.name}}</td>
                <td class="col-md-custom">{{loadItem.product.length}} <span class="times">x</span></td>
                <td class="col-md-custom">{{loadItem.product.width}} <span class="times">x</span></td>
                <td class="col-md-custom">{{loadItem.product.height}}</td>
                <td>{{loadItem.product.weight}}</td>
              </tr>
              </tbody>
            </table>
          </td>
        </tr>
      </ng-container>
      </tbody>
    </table>
  </div>
</div>
