.product-table {
  margin: 0;

  tr {
    background-color: transparent;
  }
}

.table-without-bold-th {
  th {
    font-weight: normal;
  }
}

.table-caption {
  text-align: left;
  font-weight: bold;
  caption-side: top;
}

.title-input {
  padding: 0 16px;
  color: #09184f;
  border-radius: 6px;
}

.note-input {
  background: #f2f2f2;
  padding: 0 16px;
  color: #09184f;
  border-radius: 6px;
  font-weight: 600;
}

.mat-input-element {
  box-sizing: inherit;
}

#ordersTable.loadlist-table {
  padding-right: 0;
}
