@import '../../../assets/variables';

.navbar {
  //background: $base-color;
  padding-left: 32px;
  background: #fff;
  height: 55px;
  box-shadow: 0 2px 8px 0 rgb(0, 0, 0, 0.11);
  padding-bottom: 0;

  #navbarsDefault {
    height: 100%;

    .navbar-nav {
      height: 100%;
      margin-left: 90px;
    }
  }

  .navbar-brand {
    font-family: 'Poppins', sans-serif;
    color: #147dff;

    span {
      font-size: 18px;
      font-weight: 600;
    }

    small {
      font-size: 10px;
      margin-top: -5px;
      display: block;
    }
  }

  .nav-item {
    padding-left: 88px;
    padding-right: 10px;
    font-size: 12px;
    display: table;
    height: 100%;
    border-bottom: 4px solid transparent;

    &.selected {
      border-color: #147dff;
    }

    &:first-child {
      padding-left: 0 !important;
    }
  }

  //.nav-item

  .nav-link {
    vertical-align: middle;
    display: table-cell;
    font-family: 'Inter', sans-serif;
    font-weight: 600;
    color: #147dff;
    padding-left: 88px;

    &:first-child {
      padding-left: 24px;
    }
  }
}

nav {
  box-shadow: 0 0.5rem 1rem rgba(255, 255, 255, 0.15);
}
