<nav class="navbar navbar-expand-md navbar-light fixed-top">
  <div>
    <a class="navbar-brand" href="#">
      <a class="navbar-brand d-flex" href="index.html">
        <img src="assets/images/LaLo_logo.png" height="30" class="d-inline-block" alt="">
        <span class="ml-3">LaLo
          <br>
          <small>transportplanner</small>
        </span>
      </a>
    </a>
  </div>

  <div *ngIf="isPlanning" class="collapse navbar-collapse" id="navbarsDefault">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item" [ngClass]="{'selected': step >= 1}">
        <a class="nav-link">01. Kies een laadruimte</a>
      </li>
      <li class="nav-item" [ngClass]="{'selected': step >= 2}">
        <a class="nav-link">02. Kies de bestellingen</a>
      </li>
      <li class="nav-item" [ngClass]="{'selected': step >= 3}">
        <a class="nav-link">03. Overzicht</a>
      </li>
      <li class="nav-item" [ngClass]="{'selected': step >= 4}">
        <a class="nav-link">04. Planning</a>
      </li>
    </ul>
  </div>
</nav>
