.sub-titel-dialog {
  font-size: 14px;
  line-height: 24px;
  font-weight: 600;
  margin-bottom: 4px;
}

.cargospace-dialog-content input {
  border: 1px solid #dfdfdf;
}

::ng-deep .mat-form-field-infix {
  padding: 0;
  border-top: none;
}

.mat-error {
  color: #f44336 !important;
  font-size: 7pt;
}

.cargospace-dialog-content input {
  padding-left: 8px;
}

::ng-deep .mat-form-field-wrapper{
  padding-bottom: 9px !important;
}

::ng-deep .mat-form-field-subscript-wrapper {
  margin-top: 11px;
}

::ng-deep .cargospace-dialog-content.mat-dialog-content {
  overflow: hidden;
}
