<div>
  <mat-icon (click)="back()" class="float-right" style="cursor: pointer;">close</mat-icon>
  <p mat-dialog-title class="dialog-title">Zelf een laadruimte toevoegen</p>
</div>
<div mat-dialog-content class="cargospace-dialog-content" style="margin-top: 24px;">
  <form [formGroup]="cargospaceGroup">
    <p class="sub-titel-dialog">Naam</p>
    <div class="form-outline">
      <mat-form-field appearance="none" floatLabel="never" [style.width.%]=100>
        <input [(ngModel)]="name" formControlName="name" placeholder="Bijvoorbeeld: Iveco grote vrachtwagen" matInput type="text" class="form-control" />
        <mat-error *ngIf="cargospaceGroup.get('name').hasError('required')">
          <strong>Naam is verplicht</strong>
        </mat-error>
      </mat-form-field>
    </div>

    <div style="margin-top: 8px;">
      <div class="container">
        <div class="row">
          <div class="col-sm-6" style="padding-left: 0;">
            <p class="sub-titel-dialog">Lengte (cm)</p>
            <div class="form-outline">
              <mat-form-field appearance="none" floatLabel="never" [style.width.%]=100>
                <input [(ngModel)]="length" formControlName="length" matInput type="number" class="form-control" />
                <mat-error *ngIf="cargospaceGroup.get('length').hasError('required')">
                  <strong>Lengte is verplicht</strong>
                </mat-error>
              </mat-form-field>
            </div>

            <p class="sub-titel-dialog" style="margin-top: 8px;">Hoogte (cm)</p>
            <div class="form-outline">
              <mat-form-field appearance="none" floatLabel="never" [style.width.%]=100>
                <input [(ngModel)]="height" formControlName="height" matInput type="number" class="form-control" />
                <mat-error *ngIf="cargospaceGroup.get('height').hasError('required')">
                  <strong>Hoogte is verplicht</strong>
                </mat-error>
              </mat-form-field>
            </div>
          </div>
          <div class="col-sm-6" style="padding-left: 0; padding-right: 0;">
            <p class="sub-titel-dialog">Breedte (cm)</p>
            <div class="form-outline">
              <mat-form-field appearance="none" floatLabel="never" [style.width.%]=100>
                <input [(ngModel)]="width" formControlName="width" matInput type="number" class="form-control" />
                <mat-error *ngIf="cargospaceGroup.get('width').hasError('required')">
                  <strong>Breedte is verplicht</strong>
                </mat-error>
              </mat-form-field>
            </div>

            <p class="sub-titel-dialog" style="margin-top: 8px;">Maximum laadvermogen (kg)</p>
            <div class="form-outline">
              <mat-form-field appearance="none" floatLabel="never" [style.width.%]=100>
                <input [(ngModel)]="maxWeight" formControlName="maxWeight" matInput type="number" class="form-control" />
                <mat-error *ngIf="cargospaceGroup.get('maxWeight').hasError('required')">
                  <strong>Laadvermogen is verplicht</strong>
                </mat-error>
              </mat-form-field>

            </div>
          </div>
        </div>
      </div>
    </div>
  </form>
</div>
<div mat-dialog-actions class="float-right" style="margin-top: 16px;">
  <a [disabled]="!cargospaceGroup.valid" mat-button (click)="cargospaceGroup.valid && addCargospace()" class="btn-secondary">Toevoegen</a>
</div>
