.created-on {
  float: right;
  text-decoration: underline;
}

.play {
  float: right;
  display: flex;
  align-items: center;

  color: #147dff;

  .play-button {
    font-size: 24pt;
    width: 35px;
    cursor: pointer;
    height: 32px;
  }
}

.floorplan-div {
  padding-top: 88px;
  padding-left: 272px;
}

@media (max-width: 1200px) {
  .floorplan-div {
    padding-left: 0;
  }
}
