<div [style.height.px]="pageHeight" class="container-fluid">
  <div class="row">
    <div class="col-lg-9">
      <div class="floorplan-div">
        <div>
          <span class="created-on">Aangemaakt op {{createdOn | date:'dd MMMM yyyy'}}</span>
          <h1><span *ngIf="!view">04. </span>Planning</h1>
        </div>

        <app-loadlist></app-loadlist>

        <div>
          <div class="play">
            <mat-icon class="play-button" (click)="replay()">play_circle_outline</mat-icon>
            <a [routerLink]="" (click)="replay()" class="a-link" style="margin-left: 8px;">Afspelen</a>
          </div>
          <p class="sub-titel">
            Plattegronden
            <span *ngIf="backtracking"> (BT)</span>
            <span> - Stap {{step + 1}}</span>
          </p>
        </div>

        <div class="container">
          <div class="row">
            <div *ngFor="let layer of cargoLayout; index as i" class="col-sm-4">
              <div>
                <p>Laag {{i + 1}}</p>
                <div id="floorplan-holder-{{i}}"></div>
              </div>
            </div>
          </div>
        </div>

        <app-done-button></app-done-button>


      </div>
    </div>
    <div class="col-lg-3 p-0 app-loading-information">
      <app-loading-information showPlanning="true"></app-loading-information>
    </div>
  </div>
</div>
