<div class="width-container container">
  <h1 class="d-inline">Planning</h1>

  <mat-select style="margin-top: 32px;" panelClass="cargoPanel" class="form-control" [(ngModel)]="selectedCargoPlanning" (ngModelChange)="changeValues()">
    <mat-option *ngFor="let cargoPlanning of cargoPlanningList" [value]="cargoPlanning">
      <span *ngIf="cargoPlanning.title !== '-' && cargoPlanning.title !== ''">{{cargoPlanning.title}} - </span>
      Aangemaakt op: {{cargoPlanning.createdOn | date:'dd MMMM yyyy HH:mm'}}
    </mat-option>
  </mat-select>

  <div class="mt-5" *ngIf="selectedCargoPlanning">
    <table class="table-borderless w-50 selected-cargo-planning">
      <tr>
        <th>Titel</th>
        <td>{{selectedCargoPlanning.title}}</td>
      </tr>
      <tr>
        <th>Notitie</th>
        <td>{{selectedCargoPlanning.note}}</td>
      </tr>
      <tr>
        <th>Aangemaakt op: </th>
        <td>{{selectedCargoPlanning.createdOn | date:'medium'}}</td>
      </tr>
    </table>
  </div>

  <div class="mt-3">
    <a mat-button [disabled]="!selectedCargoPlanning" (click)="selectedCargoPlanning && confirmCargoPlanning()" class="btn-primary float-right">Planning bekijken</a>
  </div>
</div>
