/* You can add global styles to this file, and also import other style files */

* [class^='mat-']:not(mat-icon), * [class*='mat-']:not(mat-icon)  {
  font-family: 'Inter', sans-serif !important;
  color: #09184f;
}

h1, h2, h3, h4, h5, h6 {
  font-family: Poppins, sans-serif !important;
}

p.question {
  font-weight: 600;
  font-size: 14px;
  line-height: normal;
  margin: 0;
  margin-bottom: 8px;
}

h1 {
  font-size: 21px !important;
}

body {
  margin: 0;
  background-color: #f6f8fa;
}

.width-container {
  padding-top: 88px;
}

.content-container {
  margin-top: 32px;
}

a {
  line-height: 16px;
  font-weight: 600;
  cursor: pointer;
  color: #147dff;
}

.info {
  vertical-align: top;
  margin-left: 8px;
  font-size: 12px;
  font-weight: 600;
}

a.btn-primary {
  border-radius: 4px;
  box-shadow: 0 2px 9px 0 rgba(0, 0, 0, 0.13);
  background-color: #147dff;
  border: solid 1px transparent;

  &[disabled] {
    opacity: 0.21;
  }

  span {
    color: #fff !important;
  }

  &:not([disabled]):hover {
    background-color: #fff;
    border: solid 1px #147dff;

    span {
      color: #147dff !important;
    }
  }
}

a.btn-secondary {
  border-radius: 4px;
  box-shadow: 0 2px 9px 0 rgba(0, 0, 0, 0.13);
  border: solid 1px #147dff;
  background-color: #ffffff;

  &[disabled] {
    opacity: 0.21;
  }

  span {
    color: #147dff !important;
  }

  &:not([disabled]):hover {
    background-color: #147dff;

    span {
      color: #ffffff !important;
    }
  }
}

.p-0 {
  padding: 0 !important;
}

.sub-titel {
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
  font-size: 14px;
  margin-top: 32px !important;
}

#ordersTable {
  font-size: 12px;
  line-height: 16px;
  color: #09184f;
  border-collapse: separate !important;
  border-spacing: 0 8px;
  padding-right: 16px;

  .clickable-td {
    cursor: pointer;
  }

  thead th {
    border: none;
    padding-bottom: 0;
  }

  tbody td:not(.selected-order) {
    border-top: 1px solid #dfdfdf;
    border-bottom: 1px solid #dfdfdf;

    &:last-child {
      border-right: 1px solid #dfdfdf;
    }

    &:first-child {
      border: none;
    }

    &:nth-child(2) {
      border-left: 1px solid #dfdfdf;
    }
  }

  th {
    font-weight: 600;
    font-size: 12px;
  }

  td {
    font-size: 12px;
  }

  .product-td {
    color: #147dff;
  }

  .customer-td {
    font-weight: 600;
  }

  .selected-order {
    border-top: 1px solid #147dff;
    border-bottom: 1px solid #147dff;

    &:last-child {
      border-right: 1px solid #147dff;
    }

    &:nth-child(2) {
      border-left: 1px solid #147dff;
    }
  }

  tr td {
    background-color: #ffffff;
    padding: 8px 16px;
    vertical-align: middle;
  }

  td:nth-child(2){
    -moz-border-radius: 6px 0 0 6px;
    -webkit-border-radius: 6px 0 0 6px;
    border-radius: 6px 0 0 6px;
  }
  td:last-child{
    -moz-border-radius:0 6px 6px 0;
    -webkit-border-radius:0 6px 6px 0;
    border-radius: 0 6px 6px 0;
  }

  .sort-icon {
    margin-left: 2px;
    width: 4px;
    height: 8px;
    font-size: 11px;
    color: #09184f;
  }

  .all-mat-checkbox ::ng-deep.mat-checkbox-layout {
    margin: 0;
  }

  .times {
    float: right;
    margin-right: 32px;
  }

  .drag-icon {
    color: #b0b0b0;
    cursor: move;
  }
}

.col-lg-custom {
  width: 22%;
}

.col-md-custom {
  width: 12%;
}

.col-sm-custom {
  width: 5%;
}

#productsTable {
  border: 1px solid #dfdfdf;
  border-radius: 6px;
  font-size: 12px;
  line-height: 16px;
  color: #09184f;
  border-collapse: separate !important;
  border-spacing: 0 8px;
  padding-right: 16px;
  padding-left: 16px;

  margin-top: -9px;
  background: white;

  .col-lg-custom {
    width: 20% !important;
  }

  .col-md-custom {
    width: 17.8% !important;
  }

  th {
    padding: 8px 16px;
  }

  tr td:first-child {
    background-color: transparent;
    -moz-border-radius: 6px 0 0 6px;
    -webkit-border-radius: 6px 0 0 6px;
    border-radius: 6px 0 0 6px;
    border-left: 1px solid #f6f8fa;
  }

  td:nth-child(2){
    border-radius: unset;
  }

  tr {
    td {
      background-color: #f6f8fa !important;

      border-top: 1px solid transparent !important;
      border-bottom: 1px solid transparent !important;

      &:last-child {
        border-right: 1px solid transparent !important;
      }

      &:first-child {
        border: none;
      }

      &:nth-child(2) {
        border-left: 1px solid transparent !important;
      }
    }

    .first-td {
      padding-left: 5px;
    }

    .first-th {
      padding-left: 0;
    }
  }
}

input {
  background: #fff;
}

.mat-accent .mat-slider-track-fill,
.mat-slider-thumb-label {
  background-color: #147dff !important;
}

.mat-accent .mat-slider-thumb-label-text {
  color: #fff !important;
}

.mat-slider-thumb {
  background-color: #fff !important;
  border: 1px solid #147dff !important;
}

.dialog-title {
  font-size: 18px;
  font-weight: 600;
}

.order-sequence {
  background: #fff;
  width: 16px;
  height: 16px;
  text-align: center;
  border-radius: 8px;
  font-size: 8px;
  border: 1px solid #09184f;
  font-weight: 600;
  color: #09184f;
  line-height: 15px;
}

.app-loading-information {
  background-color: #fff;
  border: solid 1px rgba(223, 223, 223, 0.49);
  position: fixed;
  right: 0;
  height: 100vh;
}

@media (max-width: 768px) {
  .app-loading-information {
    position: inherit;
    height: auto;
  }
}
