#timerFormField {
  width: 100px;
}

#formatFormField {
  width: 105px;
  margin-left: 10px;
}

#formatFormField .mat-select-trigger {
  width: 105px !important;
  min-width: auto !important;
}

.minutes {
  color: #147dff;
}

mat-slider {
  width: 100%;
}

#cargoSettings .mat-checkbox-checked.mat-accent .mat-checkbox-background,
.mat-ripple-element {
  background-color: #147dff !important;
}
