<div>
  <mat-icon (click)="back()" class="float-right" style="cursor: pointer;">close</mat-icon>
  <p mat-dialog-title class="dialog-title">Wijzig instellingen</p>
</div>
<div mat-dialog-content id="cargoSettings">
  <div>
    <p class="question">Algoritme</p>
    <mat-select class="form-control" [(ngModel)]="algorithm">
      <mat-option *ngFor="let algorithm of algorithms" [value]="algorithm.id">
        {{algorithm.title}}
      </mat-option>
    </mat-select>
  </div>
  <div style="margin-top: 16px;">
      <p class="question d-inline">Maximale rekentijd</p>
      <span *ngIf="timer === 1" class="d-inline float-right minutes">{{timer}} minuut</span>
      <span *ngIf="timer > 1" class="d-inline float-right minutes">{{timer}} minuten</span>
    <div>
      <mat-slider
        thumbLabel
        tickInterval="1"
        step="1"
        min="1"
        max="100"
        [(ngModel)]="timer"
        aria-label="units"></mat-slider>
    </div>
  </div>
  <div>
    <mat-checkbox [(ngModel)]="emergencyStop" [checked]="emergencyStop">Houd rekening met noodstop</mat-checkbox>
  </div>
</div>


<div mat-dialog-actions class="float-right">
  <a mat-button (click)="saveSettings()" class="btn-primary">Opslaan</a>
</div>
