<h1 mat-dialog-title>{{data.title}}</h1>
<div mat-dialog-content [innerHTML]="data.content"></div>
<div mat-dialog-actions class="float-right">
  <a mat-button class="btn-primary" (click)="close()">Sluiten</a>
</div>
