.loading-information {
  padding: 83px 0 0 32px;
}

@media (min-width: 769px) and (max-width: 1200px) {
  .loading-information {
    padding-left: 8px;
  }
}

.info-text-side-menu {
  font-size: 18px;
  font-weight: 600;
  vertical-align: top;
  margin-left: 8px;
}

.info-icon-choice {
  font-size: 18px;
  width: 18px !important;
  height: 18px !important;
}

.cargospace-table-choice {
  margin-bottom: 0;
  margin-top: 8px;

  th, td {
    padding: 4px 0 4px 0;
    font-weight: normal;
    font-size: 12px;
  }
}

.load-direction {
  margin-top: 24px;

  p {
    font-size: 12px;
    font-weight: normal;
    margin-top: 8px;
  }
}

.load-distribution {
  margin-top: 24px;
  margin-left: 28px;
  margin-right: 28px;

  .side {
    font-size: 12px;
    font-weight: 600;
  }

  .perct {
    font-size: 12px;
  }

  p {
    margin: 0;
  }

  .load-bar {
    width: 100%;
    height: 36px;
    display: flex;
    margin-top: 16px;
    background: linear-gradient(to right, transparent 0%, transparent calc(50% - 1.5px),
      black calc(50% - 1.5px), black calc(50% + 1.5px), transparent calc(50% + 1.5px), transparent 100%);

    div {
      height: 100%;
    }
  }
}

.donut-container {
  .col {
    text-align: center;
  }

  span {
    font-weight: 600;
    font-size: 12px;
  }
}
