<div class="loading-information">
  <div>
    <mat-icon class="material-icons-outlined info-icon-choice">info</mat-icon>
    <span class="info-text-side-menu">Overzicht gemaakte keuzes</span>
  </div>
  <div class="made-choices" style="margin-left: 28px; margin-top: 24px;">
    <span style="font-size: 14px; font-weight:600;">Laadruimte</span>
    <table class="table table-borderless cargospace-table-choice">
      <tr>
        <th>Naam</th>
        <td>{{cargoSpace.name}}</td>
      </tr>
      <tr>
        <th>Lengte</th>
        <td>{{cargoSpace.length}} cm</td>
      </tr>
      <tr>
        <th>Breedte</th>
        <td>{{cargoSpace.width}} cm</td>
      </tr>
      <tr>
        <th>Hoogte</th>
        <td>{{cargoSpace.height}} cm</td>
      </tr>
      <tr>
        <th>Maximaal laadgewicht</th>
        <td>{{cargoSpace.maxWeight | number:'':'nl-NL'}} kg</td>
      </tr>
    </table>

    <div class="load-direction">
      <span style="font-size: 14px; font-weight:600;">Manier van laden</span>
      <p>{{loadDirection.description}}</p>
    </div>
  </div>

  <div [ngStyle]="{'margin-top': showPlanning ? '32px' : '48px'}">
    <mat-icon class="material-icons-outlined info-icon-choice">info</mat-icon>
    <span class="info-text-side-menu">Gegevens lading</span>
  </div>

  <div class="container donut-container">
    <div class="row" style="margin-top: 16px;">
      <div class="col col-sm-4">
        <app-donut typeOfDonut="amt" [showPlanning]="showPlanning"></app-donut>
        <span>Producten</span>
      </div>
      <div class="col col-sm-4">
        <app-donut typeOfDonut="weight" [showPlanning]="showPlanning"></app-donut>
        <span>Gewicht</span>
      </div>
      <div class="col col-sm-4">
        <app-donut typeOfDonut="volume" [showPlanning]="showPlanning"></app-donut>
        <span>Volume</span>
      </div>
    </div>
  </div>
  <div *ngIf="showPlanning" class="load-distribution">
    <span style="font-size: 14px; font-weight:600;">Ladingverdeling</span>
    <div class="load-bar">
      <div [style.width.%]="rightPerct / 2" style="background-color: #f6f8fa;"></div>
      <div style="width: 50%; background-color: #147dffb8;"></div>
      <div [style.width.%]="leftPerct / 2" style="background-color: #f6f8fa;"></div>
    </div>
    <div style="margin-top: 8px;">
      <div class="float-left">
        <p class="side">Links</p>
        <p class="perct">{{leftPerct}}%</p>
      </div>
      <div class="float-right text-right">
        <p class="side">Rechts</p>
        <p class="perct">{{rightPerct}}%</p>
      </div>
    </div>
  </div>
</div>
