<div class="container-fluid">
  <div class="row">
    <div class="col-sm-9">
      <div style="padding-top: 88px; padding-left: 272px;">
        <h1 class="d-inline">02. Kies de bestellingen</h1>
        <p class="sub-titel">Voor welke bestellingen wil je een planning maken? Plaats de bestellingen in de gewenste bezorgvolgorde.</p>

        <table class="table order-table" mdbTable mdbTableScroll scrollY="true" maxHeight="400" id="ordersTable">
          <thead>
            <tr>
              <th scope="col"><mat-checkbox class="all-mat-checkbox" (change)="selectOrder(null, $event)"></mat-checkbox></th>

              <th *ngFor="let sortableHeader of sortableHeaders" scope="col" [mdbTableSort]="orderList"
                  sortBy="{{sortableHeader.name}}">
                <span class="sort-name" (click)="setSort(sortableHeader.name);">{{sortableHeader.displayName}}</span>

                <mat-icon *ngIf="sortedCol === '' || sortedCol === sortableHeader.name" (click)="setSort(sortableHeader.name);" class="material-icons-outlined sort-icon">
                  {{arrow}}
                </mat-icon>
              </th>

              <th scope="col"></th>
            </tr>
          </thead>
          <tbody (cdkDropListDropped)="cdkDrop($event)" cdkDropList>
            <ng-container *ngFor="let order of orderList">
              <tr cdkDrag cdkDragLockAxis="y">
                <td class="col-sm-custom bg-transparent">
                  <mat-checkbox [checked]="checkedAll || selectedIds.includes(order.id)" (change)="selectOrder(order, $event)"></mat-checkbox>
                </td>
                <td [ngClass]="{'selected-order': selectedIds.includes(order.id)}" class="col-lg-custom customer-td clickable-td"
                    [class.example-expanded-row]="checkExpanded(order)" (click)="pushPopElement(order)">{{order.customer}}</td>
                <td [ngClass]="{'selected-order': selectedIds.includes(order.id)}" class="col-lg-custom clickable-td"
                    [class.example-expanded-row]="checkExpanded(order)" (click)="pushPopElement(order)">{{order.address}}</td>
                <td [ngClass]="{'selected-order': selectedIds.includes(order.id)}" class="col-md-custom clickable-td"
                    [class.example-expanded-row]="checkExpanded(order)" (click)="pushPopElement(order)">{{order.postalCode}}</td>
                <td [ngClass]="{'selected-order': selectedIds.includes(order.id)}" class="col-lg-custom clickable-td"
                    [class.example-expanded-row]="checkExpanded(order)" (click)="pushPopElement(order)">{{order.city}}</td>
                <td [ngClass]="{'selected-order': selectedIds.includes(order.id)}" class="col-lg-custom product-td clickable-td"
                    [class.example-expanded-row]="checkExpanded(order)" (click)="pushPopElement(order)">{{order.products.length}}</td>
                <td [ngClass]="{'selected-order': selectedIds.includes(order.id)}" class="col-sm-custom drag-icon"><mat-icon class="material-icons-outlined info-icon-choice">menu</mat-icon></td>
              </tr>
              <tr [@detailExpand]="checkExpanded(order) ? 'expanded' : 'collapsed'">
                <td style="background-color: #f6f8fa;"></td>
                <td [attr.colspan]="6" class="p-0 p-table">
                  <table class="table product-table" mdbTable id="productsTable">
                    <thead>
                    <tr>
                      <th class="first-th">Product</th>
                      <th>Lengte (cm)</th>
                      <th>Breedte (cm)</th>
                      <th>Hoogte (cm)</th>
                      <th>Gewicht (kg)</th>
                    </tr>
                    </thead>
                    <tbody>
                      <tr *ngFor="let product of order.products">
                        <td class="col-lg-custom first-td">{{product.name}}</td>
                        <td class="col-md-custom">{{product.length}} <span class="times">x</span></td>
                        <td class="col-md-custom">{{product.width}} <span class="times">x</span></td>
                        <td class="col-md-custom">{{product.height}}</td>
                        <td>{{product.weight}}</td>
                      </tr>
                    </tbody>
                  </table>
                </td>
              </tr>
            </ng-container>
          </tbody>
        </table>

        <div class="float-right" style="margin-top: 32px;">
          <a mat-button class="btn-secondary" routerLink="../../plan/kies-laadruimte" style="margin-right: 8px;">Vorige</a>
          <a mat-button [disabled]="!selectedOrders || selectedOrders.length === 0 || !validAmount" (click)="selectedOrders && selectedOrders.length > 0 && validAmount && confirmOrders()" class="btn-primary">Volgende</a>
        </div>
      </div>
    </div>

    <div class="col-sm-3 p-0 app-loading-information">
      <app-loading-information></app-loading-information>
    </div>
  </div>
</div>
