.example-list {
  width: 500px;
  max-width: 100%;
  border: solid 1px #ccc;
  min-height: 60px;
  display: block;
  background: white;
  border-radius: 4px;
  overflow: hidden;
}

.example-box {
  padding: 20px 10px;
  border-bottom: solid 1px #ccc;
  color: rgba(0, 0, 0, 0.87);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
  cursor: move;
  background: white;
  font-size: 14px;
}

.cdk-drag-preview {
  box-sizing: border-box;
  border-radius: 4px;
  box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
  0 8px 10px 1px rgba(0, 0, 0, 0.14),
  0 3px 14px 2px rgba(0, 0, 0, 0.12);
}

.cdk-drag-animating {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.example-box:last-child {
  border: none;
}

.example-list.cdk-drop-list-dragging .example-box:not(.cdk-drag-placeholder) {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.example-custom-placeholder {
  background: #ccc;
  border: dotted 3px #999;
  min-height: 60px;
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

/* Animate items as they're being sorted. */
.cdk-drop-list-dragging .cdk-drag {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.cdk-drag-preview {
  box-sizing: border-box;
  border-radius: 4px;
  box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2), 0 8px 10px 1px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12);
  padding: 4px;
}
.cdk-drag-placeholder {
  opacity: 0;
  width: 100%;
}

.cdk-drag-preview .col-md-custom {
  padding-top: 9px;
}

::ng-deep {
  .mat-checkbox {
    .mat-ripple-element {
      background-color: #147dff !important;
    }

    &.mat-accent {
      .mat-checkbox-frame {
        border: 1px solid #dfdfdf;
        background-color: #fff;
      }

      &.mat-checkbox-checked .mat-checkbox-background {
        background-color: white;
        border: 1px solid #147dff;
      }

      .mat-checkbox-checkmark-path {
        stroke: #147dff !important;
      }
    }
  }
}

.p-table {
  &:last-child {
    border: 1px solid transparent !important;
  }

  &:first-child {
    border: none;
  }

  &:nth-child(2) {
    border: 1px solid transparent !important;
  }
}

.sort-icon, .sort-name {
  cursor: pointer;
}
